.accordion {
    width: 95%;
    margin: 0 auto;

}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #2d235f;
    color: #faf0dc;
}

.accordion-title:hover {
    background-color: #ed7d2b;
}

.accordion-title,
.accordion-content {
    padding: 1rem;
}

.accordion-content {
    background-color: #ed7d2b;
}

@media screen and (max-width: 700px) {
    .accordion {
        width: 50%;
    }
}