section {
    padding: 1rem;
}

.directory-header {
    text-align: center;
    color: #fff;
    background-color: #1e345e;
}

.directory-search {
    text-align: center;
    background-color: #fff;
}