/* We’ll use CSS Modules to style components. 
This means that styles will be scoped to components, 
which helps avoid class naming collisions between components.*/

/* LAYOUT STYLES */
body {
    margin: 0;
    background-color: #faf0dc;
}

.container {
    margin: auto;
    font-family: sans-serif;
    background-color: #faf0dc;
}

/* -- Header -- */
header {
    padding: 0 1rem;
    margin: 1rem 0;
    position: sticky;
    top: 0;
    background-color: #faf0dc;
    z-index: 10;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#1e345e;
    transition: background-color 0.3s;
}

.header-scroll {
    background-color: #ffffff;
    border-bottom: 1px solid #1e345e;
}

.site-title {
    display: block;
    font-size: 1rem;
    font-family: "Abril Fatface";
    font-weight: 700;
}

.nav-links {
    font-family: "Abril Fatface";
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: #1e345e;
    text-decoration: none;
    text-transform: lowercase;
}

/* -- Main -- */

main {
    color: #1e345e;
}

.pages-hero-banner {
    height: 100%;
    max-height: 500px;
    width: 100%;
}

input {
    margin-left: 1rem;
}

/* -- Footer -- */

footer {
    background-color: #faf0dc;
    color: #1e345e;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

/* SPINNER FOR LOADING */
.spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: inset -2px 0 0 2px #0bf;
}