/* We’ll use CSS Modules to style components. 
This means that styles will be scoped to components, 
which helps avoid class naming collisions between components.*/

/* Main Container styles */
.container {
    margin: auto;
    max-width: 1200px;
    font-family: sans-serif;
}

.heading {
    color: rebeccapurple;
}

nav {
    font-size: 1rem;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}

.site-title {
    font-size: 1rem;
    color: gray;
    font-weight: 700;
    margin: 0 0 3rem 0;
    position: sticky;
    top: 0;
    background-color: aqua;
    z-index: 10;
    width: 100%;
}